body {
    margin: 25px;
    font-family: 'Segoe UI';
    background-color: blue;
}

.topnav{
    background-color:lightcoral;
    color:black;
}
.secondnav{
    background-color:yellow;
    color:red;
}

content{
    color:black;
}
  
h1 {
    background-color:lightblue;
    color: rgb(206, 34, 34);
    font-size: 48;
    text-align: center;
}
h2 {
    background-color: orange;
    color: black;
    font-size: 38;
    text-align: center;
}
               
       